@-webkit-keyframes bird {
    0% , 100% {
        transform: rotate(0deg)
    }
    50% { 
        transform: rotate(-45deg)
    }
}
@-webkit-keyframes life_change {
    0%, 100% {
        top: 10px;
    }
    50% {
        top: -10px;
    }
}
.added_point {
    animation: pulse_green 1200ms
}
.taken_point {
    animation: pulse_red 1200ms
}
@-webkit-keyframes pulse_red {
    0%, 100% {
        color: #000
    }
    10%, 90% {
        color: rgb(145, 0, 0)
    }
}
@-webkit-keyframes pulse_green {
    0%, 100% {
        color: #000
    }
    10%, 90% {
        color: rgb(0, 190, 25)
    }
}
