
.jump_dwarf_shoes {
    -webkit-animation: jump_dwarf_shoes 1700ms;
    animation: jump_dwarf_shoes 1700ms;
}
.jump_head {
    -webkit-animation: jump_head 1700ms;
    animation: jump_head 1700ms;
}
.jump_beard {
    -webkit-animation: jump_beard 1700ms;
    animation: jump_beard 1700ms;
}
.jump_shirt {
    -webkit-animation: jump_shirt 1700ms;
    animation: jump_shirt 1700ms;
}
.jump_trousers {
    -webkit-animation: jump_trousers 1700ms;
    animation: jump_trousers 1700ms;
}
.jump_weapon {
    -webkit-animation: jump_weapon 1700ms;
    animation: jump_weapon 1700ms;
}
.jump_shot {
    -webkit-animation: jump_shot 1700ms;
    animation: jump_shot 1700ms;
}
@-webkit-keyframes jump_dwarf_shoes {
    0% , 100% {
        bottom: 100px;
    }
    40% , 60% { 
        bottom: 260px;
    }
}
@-webkit-keyframes jump_head {
    0% , 100% {
        bottom: 320px;
    }
    40% , 60% { 
        bottom: 480px;
    }
}
@-webkit-keyframes jump_beard {
    0% , 100% {
        bottom: 260px;
    }
    40% , 60% { 
        bottom: 420px;
    }
}
@-webkit-keyframes jump_shirt {
    0% , 100% {
        bottom: 190px;
    }
    40% , 60% { 
        bottom: 350px;
    }
}
@-webkit-keyframes jump_trousers {
    0% , 100% {
        bottom: 130px;
    }
    40% , 60% { 
        bottom: 280px;
    }
}
@-webkit-keyframes jump_weapon {
    0% , 100% {
        bottom: 190px;
    }
    40% , 60% { 
        bottom: 350px;
    }
}
@-webkit-keyframes jump_shot {
    0% , 100% {
        bottom: 190px;
    }
    40% , 60% { 
        bottom: 350px;
    }
}



@-webkit-keyframes bird {
    0% , 100% {
        transform: rotate(0deg)
    }
    50% { 
        transform: rotate(-45deg)
    }
}
