.flip {
    -moz-transform:    scaleX(-1); 
    -o-transform:      scaleX(-1); 
    -webkit-transform: scaleX(-1); 
    transform:         scaleX(-1); 
    filter: FlipH;                 
  }
.jump_dwarf_shoes {
    -webkit-animation: jump_dwarf_shoes 1000ms;
    animation: jump_dwarf_shoes 1000ms;
}
.jump_head {
    -webkit-animation: jump_head 1000ms;
    animation: jump_head 1000ms;
}
.jump_beard {
    -webkit-animation: jump_beard 1000ms;
    animation: jump_beard 1000ms;
}
.jump_shirt {
    -webkit-animation: jump_shirt 1000ms;
    animation: jump_shirt 1000ms;
}
.jump_trousers {
    -webkit-animation: jump_trousers 1000ms;
    animation: jump_trousers 1000ms;
}
.jump_weapon {
    -webkit-animation: jump_weapon 1000ms;
    animation: jump_weapon 1000ms;
}
.jump_shot {
    -webkit-animation: jump_shot 1000ms;
    animation: jump_shot 1000ms;
}
@-webkit-keyframes jump_dwarf_shoes {
    0% , 100% {
        bottom: 100px;
    }
    40% , 60% { 
        bottom: 210px;
    }
}
@-webkit-keyframes jump_head {
    0% , 100% {
        bottom: 320px;
    }
    40% , 60% { 
        bottom: 430px;
    }
}
@-webkit-keyframes jump_beard {
    0% , 100% {
        bottom: 260px;
    }
    40% , 60% { 
        bottom: 370px;
    }
}
@-webkit-keyframes jump_shirt {
    0% , 100% {
        bottom: 190px;
    }
    40% , 60% { 
        bottom: 300px;
    }
}
@-webkit-keyframes jump_trousers {
    0% , 100% {
        bottom: 130px;
    }
    40% , 60% { 
        bottom: 230px;
    }
}
@-webkit-keyframes jump_weapon {
    0% , 100% {
        bottom: 190px;
    }
    40% , 60% { 
        bottom: 300px;
    }
}
@-webkit-keyframes jump_shot {
    0% , 100% {
        bottom: 190px;
    }
    40% , 60% { 
        bottom: 300px;
    }
}



@-webkit-keyframes bird {
    0% , 100% {
        transform: rotate(0deg)
    }
    50% { 
        transform: rotate(-45deg)
    }
}
